.forum_t{
    line-height: 30px;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
}
.forum_to{
    color: #555;
}
.c-post_list--post_body{
    list-style: none;
}
.c-post_list--post_body:hover{
    background: #eff3f5;
}

.c-post_list--post_container {
    padding: 23px 0 20px;
}
.c-post_list--post_container, .c-post_list--post_list_header {
    margin: 0 30px;
    border-bottom: 1px solid #f3f3f3;
}
.c-post_list--post_container .c-post_list--post_header img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
}
.c-post_list--post_container .c-post_list--post_header span {
    height: 24px;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #666;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.c-post_list--post_container .c-post_list--post_header span:hover{
    color: #409EFF;
}
.c-post_list--post_container .c-post_list--post_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 12px;
    overflow: hidden;
}
